.faq-display {
    width: 80%;
    margin: 20px auto 50px auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.faq-page-title {
    /* background-color: red; */
    width: 45%;
    margin: 50px auto;
}

.faq-page-title h2 {
    font-size: 4rem;
    font-weight: 800;
    color: #ff6a00;
    /* line-height: 4rem; */
}

.faq-page-title p {
    margin: 24px auto;
    font-size: 20px;
    letter-spacing: .5px;
    text-align: justify;
}

.faq-banner {
    width: 45%;
    margin: auto;

}

.faq-banner img {
    width: 100%;
    border-radius: 5px;
    /* height: 400px; */
}

.faqs-container {
    width: 80%;
    margin: 10px auto;
    padding: 10px 50px 10px 20px;
    background-color: rgb(243, 243, 243);
}

.faq-question,
.faq-answer {
    cursor: pointer;
    width: 100%;
    /* margin:auto; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-question {
    height: 50px;
}

.active-index {
    padding: 0px 5px;
    border: 2px solid rgb(242, 212, 193);
}

.faq-answer {
    /* background-color: rgb(253, 252, 252); */
    padding: 2px;
    width: 100%;
}

.my-50 {
    margin: 30px auto;
}

/* Add FAQ styling  */

.add-faq-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.add-new-faq {
    width: 800px;
    /* height:70vh; */
    background-color: rgb(255, 255, 255);
    /* margin: 50px auto; */
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.faq-form-heading {
    background: #5c5a5a;
    background: linear-gradient(90deg, rgb(113, 113, 113) 0%, rgb(52, 53, 52) 0%, rgb(49, 49, 48) 100%);
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;

}

.back-to-home {
    position: absolute;
    left: 30px;
    padding: 5px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    /* background-color: rgb(255, 106, 0); */
    /* color: white; */
}

.back-to-home a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.faq-form-heading h2 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}

.add-faq {
    margin: 50px auto;
    width: 90%;

}

.m-10 {
    /* width: 90%;
    margin: auto; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.message-green {
    font-weight: 500;
    color: green;
}

.message-red {
    font-weight: 500;
    color: red;
}

.input textarea {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border: none;
    outline: none;
    /* height: 30px; */
    border-radius: 2px;
}

.input textarea,
.input textarea::placeholder {
    text-indent: 5px;
}

.faq-submit {
    border: none;
    padding: 5px 25px;
    outline: none;
    background-color: rgb(255, 106, 0);
    border-radius: 10px;
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
    margin: 30px auto;
    cursor: pointer;
}

/* star rating element styling */

.star-rating {
    width: fit-content;
    display: flex;
    gap: 5px;
    font-size: 24px;
    padding: 5px 0px;

}

.review-box{
    margin:20px auto;
}

.rating-and-comment{
    display: flex;
    flex-direction: column;
    gap:10px;

}
.star-icon {
    color: rgb(255, 166, 2);
}

.comment-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review-form {
    width: 70%;
}

.comment-submit-message {
    margin: 10px auto;
}

.submit-review {
    margin:20px auto;
    border: none;
    padding: 3px 10px;
    outline: none;
    background-color: rgb(255, 106, 0);
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    font-size: 14px;
    cursor: pointer;
}

.review-section{
    width:90%;
    margin:auto;
}

@media only screen and (max-width:1300px) {
    .faq-page-title h2 {
        font-size: 3rem;
    }
}

@media only screen and (max-width:1100px) {
    .faq-page-title h2 {
        font-size: 2rem;
    }

    .faq-page-title p {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:850px) {
    .add-new-faq {
        width: 95%;
    }
}

@media only screen and (max-width:750px) {

    .faq-display {
        flex-direction: column;
        width: 100%;
    }

    .faq-page-title,
    .faq-banner {
        width: 95%;
    }

    .faq-page-title h2 {
        font-size: 2rem;
    }

    .faq-page-title p {
        font-size: 1rem;
    }

    .faqs-container {
        width: 95%;
        padding: 0px;
    }

    .faq-question,
    .faq-answer {
        width: 100%;
        padding: 0px 10px;
    }

    /* add new faq page  */
    .add-faq-page {
        align-items: start;
    }

    .add-new-faq {
        width: 100%;
        height: 100%;
    }

    .faq-form-heading {
        border-radius: 0px;
    }
}